*{
    margin: 0;
    padding: 0;
    list-style: none;

}
.navbar{
    display: flex;
    height: 100%;
    flex-direction: row;
  justify-content: space-between;
  background-color: white;
  

}
.navbar2{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 1rem;
}
.navbar1 ul{
  display: flex;
  flex-direction: row;
  padding-left: 30%;
  margin-top: 20%;
  gap: 1rem;
  width: 100%;
  color: #5c3327;
  
}
.imagelogo img{
    width: 63%;
    height: 76%;
}
.icons{
    width: 100%;
    
}
.icons1{
    padding-top: 10%;
    padding-left: -7% ;
    padding-right: 6%;
    
    
}
.backround1{
    width: 90vw;
    height: 90vh;
}
.banner2 li{
  
    margin-right:0 ;
    font-size: small;
    padding-left: -5%;
    padding-right: 5%;
    color: #5c3327;

}

.banner2 ul {
    display: flex;
}
.backround1 img{
    width: 99vw;
    height: 100vh;
    border:  2px solid #d5ac5b;
}
.part1inbg1{
    position: relative;
    top: -75%;
    left: 0%;
    border:  1px solid #d5ac5b;
    height: 70%;
    

}
.gold{
    position: absolute;
    color: #d5ac5b;
    font-size: 55px;
    
    left: 31%;
    bottom: 10%;
    top: 10%;
    z-index: 1;
    margin-bottom: 25%;
   
    
}
.vedio{
    position: absolute;
    left: 47%;
    top: 43%;
    
    
   
}
.vedio1{
    width: 80%;
    height: 86%;
    
}
.para{
    display: flex;
    padding-left: 31%;
    padding-top: 18%;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
    color: #804f40;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.butns{
    position: absolute;
    background: url(../../../../brands/ferrerorocher20/themes/custom/ferrerorocher20_theme/assets/images/bg/button-pattern.svg?t=1647361191) repeat center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;

}